Source: pip-os
Section: utils
Priority: optional
Maintainer: Darrian <darrian@robco-industries.org>
Build-Depends: debhelper-compat (= 13), 
               cmake, 
               qt6-base-dev, 
               dh-sequence-qmldeps,
               qt6-base-dev-tools,
               libqt6core6
Standards-Version: 4.6.0

Package: pip-os
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${qml6:Depends}, qt6-svg-plugins
Description: RobCo Industries PIP-OS